* { box-sizing: border-box; }

body {
	background: #AAAAFF;
	margin: 4rem;
	font-family: sans-serif;
}

section {
	background: white;
	margin: 3rem;
	padding: 2rem;
	border-radius: 1rem;
	border: 1px solid #CCCCCC;
	max-width: 50%;
	min-width: 350px;

	img {
		max-width: 100%;
		object-fit: cover;
	}
}