* { box-sizing: border-box; }

body {
	background: #AAAAFF;
	padding: 4rem;
	font-family: sans-serif;
}

header {
	font-size: 3rem;

	input {
		margin-right: 2rem;
	}
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	max-width: 75vw;
	margin: 2rem;
}

section {
	background: white;
	padding: 2rem;
	border-radius: 1rem;
	border: 1px solid #CCCCCC;
	width: 100%;

	.img {
		max-width: 100%;
		height: auto;
		padding: 50% 50%;
		background-size: cover;
		background-position: center;
	}
}